@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

:root{
    --bgColor: #4c956c;
    --moduleColor: #2c6e49;
    --itemColor: #b2ddf7
}

@mixin basics{
    background-color: var(--bgColor);
    height: calc(100vh - 70px);
}

@mixin fullModule{
    background-color: var(--moduleColor);
    width: calc(100vw - 30px);
    height: calc(100vh - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    border-radius: 15px;
}

@mixin halfModule{
    background-color: var(--moduleColor);
}

@mixin bars{
    background-color: var(--moduleColor);
    width: calc(100vw - 60px);
    margin: 15px;
    display: flex;
    padding: 15px;
    border-radius: 15px;
    gap: 15px;
}

@mixin listItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--itemColor);
    padding: 0px 10px;
    border-radius: 15px;
}

body{
    margin: 0px;
    font-family: "Roboto", system-ui;
}

.Root{margin: 0px;}

.NavBar{
    background-color: var(--moduleColor);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 70px;
    margin: 0px;
}

.Home{
    margin: 0px;
    @include basics;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .formulario{
        width: 35vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--moduleColor);
        border-radius: 20px;

        .Button{margin: 3px}
        .Input{margin: 3px;}
        h2{margin: 3px;}
    }
}

.Dashboard{
    @include basics;
    display: flex;

    .LatPanel{
        background-color: var(--moduleColor);
        margin: 15px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: calc(20vw - 30px);
        align-items: center;
        padding: 15px;
    }

    .ListContainer{
        background-color: var(--moduleColor);
        margin: 15px;
        border-radius: 15px;
        width: calc(80vw - 30px);
        display: flex;
        flex-direction: column;
        align-items: center;

        .List{
            width: 100%;

            .ListItem{
                h3, h4{
                    margin: 0px;
                }

                background-color: var(--itemColor);
                width: calc(100% - 40px);
                margin: 10px;
                padding: 10px;
                border-radius: 15px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .buttons{
                    display: flex;
                    gap: 10px
                }   
            }
        }
    }
}

.Specialties{
    @include basics;
    display: flex;
    flex-direction: column;
    align-items: center;

    .ListContainer{
        @include fullModule;

        .info{
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
}

.AdminDocs{
    @include basics;
    display: flex;
    flex-direction: column;
    align-items: center;

    .SearchBar{
        @include bars;
    }

    .ListContainer{
        background-color: var(--moduleColor);
        margin: 10px;
        padding: 10px 30px;
        border-radius: 15px;
        width: calc(100vw - 90px);
        height: 73vh;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .ListItem{
            @include listItems;

            .info{
                display: flex;
                align-items: center;
                gap: 15px;
            }

            .Buttons{

            }
        }
    }
}

.History{
    @include basics;
    margin: 0px;
    background-color: var(--bgColor);
    display: flex;
    flex-direction: column;
    align-items: center;

    .List{
        @include fullModule;

        .listItem{
            @include listItems;
            flex-direction: column;
            align-items: start;
            margin: 25px;
            width: calc(100% - 50px);
        }
    }
}